* {
    box-sizing: border-box;
  }
 
  ol {
    margin: 0;
    padding: 0;
  }
  ol li.checked {
    
    text-decoration: line-through;
  }
  ol li.checked::before {
    content: '';
    position: absolute;
    border-color: green;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
 
  ol li {
    cursor: pointer;
  
    position: relative;
    padding: 15px 8px 15px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.5s;
    margin-left: 165px;
    margin-right: 150px;
    border-radius: 10px;
    font-family: Impact, fantasy;
   
  }
  
  
  ol li:hover {
    background: rgb(201, 158, 158);
  }
  
 
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  
  .header {
    background-color:rgb(235, 238, 69);
    padding: 30px 40px;
    color: white;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
  }
  
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  input {
    margin-right:2px ;
    border: none;
    border-radius: 5px;
    width: 74%;
    padding: 10px;
    float: left;
    font-size: 16px;
    font-family: Impact, fantasy;
  }
  
  
  .addBtn {
    padding: 11px;
    border-radius: 5px;
   
    width: 20%;
    background: #e7c324;
    color: rgb(4, 11, 73);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 15px;
    font-family: Impact, fantasy;
  
  }
  Ol li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  .addBtn:hover {
    background-color: rgb(28, 172, 76);
    
  }
  
